{% from '_includes/forms' import field %}

{% set input %}
    {% embed '_includes/forms/editableTable' with {
        id: id,
        name: name,
        cols: cols,
        rows: rows,
        addRowLabel: addRowLabel,
        initJs: initJs,
        static: static,
        allowAdd: allowAdd,
        allowReorder: allowReorder,
        allowDelete: allowDelete,
    } %}
        {% block tablecell %}
            {% if colId == 'type' %}
                <div class="flex flex-nowrap">
                    {{ parent() }}
                    <a class="settings light{% if value != 'select' %} invisible{% endif %}" role="button" data-icon="settings"></a>
                </div>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endset %}

{{ field({
    label: label,
    instructions: instructions,
    id: id,
}, input) }}
